#header-cs {
  font-family: "Arial";
  width: 100%;
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(27, 0, 78);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.user-popup {
  top: 128px;
}

#image-list {
  margin-top: 10px; /* Adjusted margin based on the height of #search-panel */
  width: 1175px;
  margin-left: auto; /* Center the grid horizontally */
  margin-right: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media (max-width: 1200px) {
  #image-list {
    width: 940px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 965px) {
  #image-list {
    width: 705px;
    grid-template-columns: repeat(3, 1fr);
  }
}
