.deck-listing {
  width: 400px;
  height: 250px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.deck-listing:hover {
  outline: 3px solid rgb(205, 41, 27);
}

.deck-listing text {
  font-family: arial;
}

.cover-image {
  width: 132%;
  height: 250px;
  object-fit: cover;
  object-position: -6cap -8.7cap;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.deck-name {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
  text-wrap: nowrap;
  color: white;
}

.format {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 16px;
  color: rgb(180, 180, 180);
  font-style: italic;
  letter-spacing: 0.02cap;
}

.format::first-letter {
  text-transform: uppercase;
}

.icon {
  margin-right: 4px;
  font-size: 12px;
  margin-bottom: 1px;
  color: white;
}

.creator-likes-views {
  text-wrap: nowrap;
  position: absolute;
  top: 220px;
  right: 15px;
  font-size: 14px;
  letter-spacing: 0.02cap;
}

.creator-likes-views text {
  margin-left: 14px;
  color: white;
}

.creator {
  letter-spacing: 0.05cap;
}
