::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 88, 88); /* Change thumb color */
  border-radius: 4px; /* Round the corners of the thumb */
}
  
::-webkit-scrollbar-track {
  background-color: rgb(37, 0, 0); /* Change track color */
}

body {
  background-color: rgb(255, 251, 234);
  margin: 0;
  padding: 0;
}

text {
  color: rgb(245, 245, 245);
}

