#header-dv {
  font-family: "Arial";
  width: 100%;
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(67, 5, 5);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.5s;
  margin-top: -120px;
}

.deck-view {
  padding: 30px;
  margin-top: 120px;
  width: 60%;
  margin-left: auto; /* Center the grid horizontally */
  margin-right: auto;
  align-content: center;
  z-index: 2;
}

.deck-view text {
  font-family: Arial;
}

.deck-view-panel {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.deck-view-info {
  padding-left: 15px;
  padding-top: 8px;
}

.deck-view-name {
  font-weight: bold;
  font-size: 40px;
  color: rgb(216, 75, 33);
}

.edit-button {
  border-radius: 5px;
  background-color: black;
  width: 55px;
  height: 28px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-right: none;
}

.edit-button:hover {
  background-color: #4d4d4d;
}

.edit-button:active {
  background-color: #646464;
}

.deck-view-format {
  padding-top: 2px;
  padding-left: 3px;
  width: fit-content;
}

.deck-view-format text {
  font-size: 20px;
  font-style: italic;
  color: rgb(90, 90, 90);
}

.deck-view-desc {
  margin-top: 25px;
  padding-left: 5px;
}

.deck-view-desc text {
  color: rgb(66, 66, 66);
}

.deck-view-editors {
  padding-left: 8px;
  padding-bottom: 12px;
}

.deck-view-editors text {
  margin-right: 5px;
}

.deck-view-author {
  color: black;
  font-weight: bold;
  margin-left: 5px;
}

.deck-view-author-icon {
  font-size: 15px;
}

.deck-view-others {
  color: gray;
  margin-left: 5px;
}

.deck-view-cover {
  height: 175px;
  max-height: 175px;
  min-height: 175px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  object-fit: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  outline: 1px solid #000;
}

.deck-view-cover img {
  height: 475px;
  object-position: -4.3cap -5.5cap;
}

.deck-view-tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 30px;
}

.deck-view-tablinks {
  height: 40px;
  outline: 2px solid rgb(158, 55, 55);
  outline-offset: -2px;
  color: black;
  width: auto;
  border-radius: 6px;
}

.button-effect-hover:hover {
  background-color: rgba(243, 189, 189, 0.6) !important;
}

@media (max-width: 650px) {
  #header-dv {
    height: 50px;
  }

  .deck-view {
    padding-top: 0px;
    width: 70%;
  }

  .deck-view-cover {
    height: 100;
    max-height: 100px;
    min-height: 100px;
    width: 143px;
    max-width: 143px;
    min-width: 143px;
  }

  .deck-view-name {
    font-size: 26px;
  }

  .deck-view-format text {
    font-size: 18px;
  }

  .deck-view-desc {
    font-size: 14px;
  }

  .deck-view-cover img {
    height: 270px;
    object-position: -2.5cap -3cap;
  }

  .deck-view-tablinks {
    font-size: 14px;
  }

  .deck-view-editors text {
    font-size: 14px;
  }

  .edit-button {
    font-size: 14px;
    width: 45px;
    height: 25px;
  }
}
