.card-pane {
  margin-top: 10px; /* Adjusted margin based on the height of #search-panel */
  width: 1175px;
  margin-left: auto; /* Center the grid horizontally */
  margin-right: auto;
  padding: 10px;
  padding-right: 4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  z-index: 2;
  transition: 0.3s;
}

.card-image-div {
  margin-top: -37px;
}

.card-image-flip {
  opacity: 0%;
  font-size: 16px;
  position: relative;
  z-index: 2;
  background-color: rgba(180, 28, 28, 0.7);
  border-radius: 12px;
  top: 308px;
  left: 6px;
  width: 38px;
  height: 38px;
  outline: 2px solid rgb(43, 6, 6);
  outline-offset: -1px;
  margin: 0px;
  padding: 0px;
  color: rgb(255, 255, 255, 0.75);
}

.card-hover :hover {
  background-color: rgba(180, 28, 28);
  color: rgb(255, 255, 255, 1);
}

.card-hover :active {
  background-color: rgb(194, 46, 46);
  color: rgb(255, 255, 255, 1);
}

@media (max-width: 1200px) {
  .card-pane {
    width: 940px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 965px) {
  .card-pane {
    width: 705px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 730px) {
  .card-pane {
    width: 470px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 495px) {
  .card-pane {
    width: 235px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .card-pane {
    margin-top: -20px;
  }
}
