#header-ds {
  font-family: "Arial";
  width: 100%;
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(67, 5, 5);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s;
}

@media (max-width: 650px) {
  #header-ds {
    height: 50px;
  }
}

.ds-text {
  display: flex;
  height: 98vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -170px;
}

.ds-text text {
  text-wrap: nowrap;
  font-family: Arial;
  font-weight: bold;
  font-size: 76px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to left,
    rgb(129, 29, 29),
    rgb(255, 106, 61)
  );
  -webkit-background-clip: text; /* For WebKit browsers */
}

@media (max-width: 670px) {
  .ds-text text {
    font-size: 50px;
  }
}
