.card-modal-content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 750px;
  height: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 251, 234);
}

.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-header {
  font-family: "Arial";
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 0, 78);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 792px;
  margin-left: -21px;
  margin-top: -22px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-heading {
  font-size: 18px;
  padding: 15px;
  background-color: rgb(59, 27, 121);
  border-radius: 25px;
  text-wrap: nowrap;
  position: static;
  margin-left: 15px;
}

.modal-heading-mana {
  margin-left: 8px;
  color: rgb(164, 134, 167);
}

.modal-button {
  font-family: "Arial";
  margin-right: 20px;
}

.modal-info {
  display: flex;
}

.modal-card {
  width: 290px;
  margin-top: 92px;
  margin-left: 5px;
}

.modal-card:hover {
  outline: none;
  cursor: auto;
}

.modal-stats {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 435px;
  margin-top: 95px;
  gap: 22px;
  white-space: pre-line;
}

.modal-stats text {
  font-family: "Serif";
  font-size: 17px;
  color: black;
}

@media (max-width: 1200px) {
  .card-modal-content {
    width: 375px;
    height: 250px;
  }
  .modal-header {
    width: 415px;
  }
  .modal-heading {
    font-size: 9px;
  }
  .modal-card {
    width: 145px;
    height: 170px;
  }
  .modal-stats text {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .card-modal-content {
    height: 200px;
  }
  .modal-header {
    height: 50px;
  }
  .modal-heading {
    padding: 5px;
  }
  .modal-card {
    display: none;
  }
  .modal-stats {
    margin-top: 40px;
  }
}
