#header-db {
    font-family: "Arial";
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: rgb(27, 0, 78);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#welcome-db {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, rgb(90, 53, 163), rgb(225, 101, 250));
    font-family: "Arial";
    font-weight: bold;
    font-size: 75px;
    text-wrap: nowrap;
}
